ion-content {
  --background: var(--ion-color-background);
  --color: var(--ion-color-secondary);

  .header-text {
    font-size: 1.5rem;
    padding: 0.5rem;
    text-shadow: 2px 2px var(--ion-color-background);
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .article-container {
    max-width: 500px;
    width: 100%;
    margin: 2rem;
  }
}
