.search-container {
  background-image: url("../../../../assets/backgroundGif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  ion-searchbar {
    width: 90%;
    margin: auto;
    max-width: 500px;
    --background: var(--ion-color-secondary);
  }
  .animate-text {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px var(--ion-color-background);
    animation: topToBottom ease 2s;
    position: absolute;
    top: 2%;
  }
  @keyframes topToBottom {
    0% {
      opacity: 0;
      margin-top: -10%;
    }
    100% {
      margin-top: 0%;
      opacity: 100;
    }
  }
}
.main-container {
  height: 100%;
}
.article-container {
    margin: 0.5rem;
}
.not-found-articles {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}