<ion-col fxLayout="column" class="ion-no-padding">
  <ion-row
    class="search-container"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <ion-text class="animate-text">All space news in one place</ion-text>
    <ion-searchbar [formControl]="filter"></ion-searchbar>
  </ion-row>
  <ion-row>
    <ion-col
      fxLayout="column"
      class="main-container"
      fxFlex.xs="100"
      fxFlexOffset.xs="0"
      fxFlex.gt-sm="40"
      fxFlexOffset.gt-sm="30"
    >
      <ion-col *ngIf="filteredArticles$ | async as articles">
        <ng-container *ngFor="let article of articles">
          <app-article-short-details
            class="details-container"
            [article]="article"
          ></app-article-short-details>
        </ng-container>
        <div class="not-found-articles" *ngIf="articles.length === 0">
          No articles found
        </div>
      </ion-col>
    </ion-col></ion-row
  >
</ion-col>
