<div class="main-container">
  <ion-col class="ion-no-padding">
    <div
      class="short-info-container"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <ion-text class="site-text">{{ article.newsSite }}</ion-text>
      <ion-text class="date-text">{{
        article.publishedAt | date: "MMM d, HH:mm"
      }}</ion-text>
    </div>
    <div>
        <ion-row class="image-container"
          ><img
            class="clickable"
            (click)="navigate()"
            [src]="article.imageUrl"
          />
        </ion-row>
        <ion-row fxLayoutAlign="center"
          ><div class="header-container clickable" (click)="navigate()">
            {{ article.title }}
          </div></ion-row
        >
      <ion-row
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="options-container"
        ><ion-button
          fill="clear"
          class="star-button"
          (click)="
            article.isFavourite = !article.isFavourite; favouriteArticleChange()
          "
          ><ion-icon
            slot="icon-only"
            [name]="article.isFavourite ? 'star' : 'star-outline'"
          ></ion-icon></ion-button
        ><ion-text class="clickable" (click)="navigate()">
          Read more...</ion-text
        ></ion-row
      >
    </div>
  </ion-col>
</div>
